/*
* @Author: Administrator
* @Date:   2017-08-17 16:00:56
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-29 15:08:22
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
body{
	background: #Fff;
}